* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

#produtos ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#produtos ul li {
    width: 32%;
}